---
import ExternalLink from "./external-link.astro";

const pathname = Astro.url.pathname;
---

<footer class="fixed bottom-4 right-4 flex items-center gap-2">
    <div class="flex gap-2">
        <ExternalLink href="/" openNewTab={false}>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" class="w-5 h-5 text-zinc-500 group-hover:text-amber-200">
                <title>Home</title>
                <path fill="currentColor" fill-rule="evenodd" d="M2.335 7.875c-.54 1.127-.35 2.446.03 5.083l.278 1.937c.487 3.388.731 5.081 1.906 6.093S7.447 22 10.894 22h2.212c3.447 0 5.17 0 6.345-1.012s1.419-2.705 1.906-6.093l.279-1.937c.38-2.637.57-3.956.029-5.083s-1.691-1.813-3.992-3.183l-1.385-.825C14.2 2.622 13.154 2 12 2s-2.199.622-4.288 1.867l-1.385.825c-2.3 1.37-3.451 2.056-3.992 3.183M8.25 18a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75" clip-rule="evenodd"/>
            </svg>
        </ExternalLink>

        <p class="text-zinc-600 text-xs">/</p>
    </div>

    <ExternalLink href="/projects" openNewTab={false}>
        <span class="text-s">Projects</span>
    </ExternalLink>
    <ExternalLink href="/about" openNewTab={false}>
        <span class="text-s">About</span>
    </ExternalLink>
    <ExternalLink href="/contact" openNewTab={false}>
        <span class="text-s">Contact</span>
    </ExternalLink>
</footer>